<div class="card fondConnexion" >
  <h1 class="card-header headerConnexion">Connexion</h1>
  <div class="card-body">
    <form autocomplete="off" [formGroup]="utilisateur" (ngSubmit)="onSubmit()" [style.marginLeft.px]="250">
      <div class="form-group">
        <label for="nomUtilisateur">Nom d'utilisateur</label>
        <input type="text" formControlName="nomUtilisateur" id="nomUtilisateur"
               required minlength="3" maxlength="20" autocomplete="new-username"
               placeholder="Nom d'utilisateur" class="form-control saisie saisie-user"
               [ngClass]="{ 'is-invalid': submitted && f.nomUtilisateur.errors }"
        />
        <div *ngIf="submitted && f.nomUtilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.nomUtilisateur.errors.required">Le nom d'utilisateur est requis</div>
          <div *ngIf="f.nomUtilisateur.errors.minlength">Le nom d'utilisateur doit être d'au moins 3 caractères</div>
          <div *ngIf="f.nomUtilisateur.errors.maxlength">Le nom d'utilisateur doit être d'au plus 20 caractères</div>
        </div>
      </div>
      <div class="form-group">
        <label for="motPasse">Mot de passe</label>
        <input type="password" formControlName="motPasse" id="motPasse"
               required minlength="6" maxlength="120" autocomplete="new-password"
               placeholder="Mot de passe" class="form-control saisie saisie-psw"
               [ngClass]="{ 'is-invalid': submitted && f.motPasse.errors }"
        />
        <div *ngIf="submitted && f.motPasse.errors" class="invalid-feedback">
          <div *ngIf="f.motPasse.errors.required">Le mot de passe est requis</div>
          <div *ngIf="f.motPasse.errors.minlength">Le mot de passe doit être d'au moins 6 caractères</div>
          <div *ngIf="f.motPasse.errors.maxlength">Le mot de passe doit être d'au plus 120 caractères</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit"  class="btn btn-primary">
          Connexion
        </button>
        <a routerLink="../creation" class="btn btn-link">Créer compte</a>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        <strong>Erreur!</strong> {{errorMessage}}
      </div>
    </form>
  </div>
</div>
