body, html {
  height: 100%;
  margin: 0;
}

.headerConnexion {
  text-align: center;
}

.fondConnexion {
  display: block;
  height: 100vh;
  margin: 0;
  background-image: url("../../../img/fondConnexion.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.saisie {
  width: 350px;
  background-color: #E7B97D;
  color: white;
  border-radius: 25px;
}

.saisie-user {
  background: url("../../../img/user.dark.png") no-repeat scroll 7px 7px;
  padding-left:35px;
  background-size: 20px;
}

.saisie-psw {
  background: url("../../../img/lock.dark.png") no-repeat scroll 7px 7px;
  padding-left:35px;
  background-size: 20px;
}
